# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
nbproject/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
*.env
.env
